<%- include('partials/header')%>
<div class="container">
<div class="jumbotron">
    <h1>Welcome to Index page</h1>
  
    <p>Authentication test app</p>
</div>
</div>
<%- include('partials/footer')%>
